.navbar-div {
  position: fixed;
  border-radius: 10px;
  /* top: 3.4%; */
  /* left: 46%; */
  /* transform: translate(-45%, -50%); */
  height: auto;
  width: 100%;
  z-index: 999;
  border-radius: 0;
  background-color: rgb(238, 233, 233);
}

.navbar a {
  cursor: pointer;
}

.navbar a:hover {
  color: #ffc000;
}

.navbar-container a {
  position: fixed;

  list-style: none;
  text-align: center;
}
.navbar-link {
  text-align: center;
  font-size: 24px;
  padding: 0.75rem;
}
