.image {
  box-shadow: -5px 5px 11px 3px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -5px 5px 11px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -5px 5px 11px 3px rgba(0, 0, 0, 0.14);
  width: 200vh;
  height: auto;
  border-radius: 0 !important;
  display: initial;
}

.image-whatIs {
  filter: brightness(100%) !important;
}
.w-first {
  color: #383838;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.025rem;
  text-align: start;
  margin: 8rem;
}

.w-first h1 {
  height: 3rem;
  font-weight: 500;
}
