.howItWorks-container {
  display: flex;
  align-items: center;
  padding: 6rem 5rem 6rem 5rem;
  background-color: #383838;
  height: 50vh;
  width: 100%;
}
.second,
.first {
  width: 50% !important;
}
.second {
  display: flex;
  margin: 3rem 0rem 3rem 0rem;
  justify-content: center;
}

.first h2 {
  font-size: 25px;
  padding-bottom: 20px;
}

ul {
  font-size: 12px;
  list-style: square inside !important;
  /* padding-left: 1.5rem !important; */
  /* margin: 2rem !important; */
}

li {
  padding: 0.5rem;
  color: #fff;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
}
