.image-with-text-container {
  position: relative;
  display: inline-block; /* Esto asegura que el contenedor se ajuste al tamaño de la imagen y el texto */
}

.text-overlay {
  z-index: 99;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Cambia el color del texto según tus preferencias */
}

.p-demo {
  font-size: 28px;
}

.image {
  filter: brightness(50%);
  width: 300vh;
  border-radius: 0 !important;
  background-size: cover !important;
}
