.container-cardBenefit {
  display: flex;
  align-items: center;
  margin: 3rem;
}
.div-card {
  width: 50%;
}
.title-container {
  color: #ffc000;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.025rem;
  display: flex;
  justify-content: space-around;
}

.container-cardBenefit h1 {
  align-items: start;
  justify-content: start;
  color: #ffc000;
  letter-spacing: 0.025rem;
  margin: 1rem;
}
.description-cardBenefit-container {
  display: flex;
}

.image-icon {
  background-color: #ffc000;
  padding: 10px;
  border-radius: 100%;
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

.svg-container {
  position: absolute;
  width: 100vw;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg1,
.svg2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-l span,
.text-right span {
  width: 60%;
}

.text-l,
.text-right {
  margin: 2.5rem;
  font-size: small;
  width: 75%;
}
.text-l {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.text-right {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.cards {
  display: flex;
  margin: 3rem;
  margin-bottom: 0;
}
@media (max-width: 1005px) {
  svg {
    display: none !important;
  }
  .div-card {
    width: 70%;
  }
  .cards {
    display: flex;
    align-items: center;
    margin: 0rem;
    margin-bottom: 0;
  }
  .text-l,
  .text-right {
    margin: 1.5rem;
    font-size: small;
    width: 75%;
  }
  .container-cardBenefit {
    margin: 1.5rem;
  }
}
@media (max-width: 765px) {
  .container-cardBenefit {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0;
  }
  .cards {
    display: flex;
    align-items: center;
    margin: 0rem;
    margin-bottom: 0;
  }
  .text-l,
  .text-right {
    margin: 0.5rem;
    font-size: small;
    width: 100%;
  }
}

@media (max-width: 570px) {
  .description-cardBenefit-container {
    display: none !important;
  }
  .cards {
    align-items: normal;
    margin: 0 !important;
    flex-direction: column;
    align-items: center;
  }
  .container-cardBenefit {
    text-align: center;
    margin: 0;
  }
  .text-l,
  .text-right {
    align-items: center;
    margin: 0rem;
    text-align: center;
  }
  .text-l span,
  .text-right span {
    width: 100%;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
  .cards h1 {
    align-items: center;
    text-align: center;
    margin: 0 !important;
  }
  .cards-bottom {
    padding-bottom: 2rem;
  }
}
